body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumaquamarine;
}

a {
    color: palegoldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 5rem;
}

/* Header content */
.head-container {
    display: grid;
    place-items: center;
}
#header-para {
    font-size: .8rem;
}
/* Header contnet */


/* Score and scorebox */
.score {
    top: 5rem;
    display: grid;
    place-items: center;
}

.score-box {
    border: 3px solid white;
    border-radius: 4px;
    width: 20rem;
    height: 10rem;
}

.you {
    float: left;
}

.them {
    float: right;
}

.score-you {
    float: left;
}

.score-them {
    float: right;
}
/* Score and scorebox */