body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6BB4F8;
    color: whitesmoke;
    padding: 0;
}


/* Header content */
.head-container {
    display: grid;
    place-items: center;
}
.header-para {
    font-size: 1.1rem;
    padding-bottom: .3rem;
}

a {
    color: palegoldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 3px  #74a790;
    text-align: center;
    margin: auto;
}
/* Header contnet */


/* Score and scorebox */
.score {
    top: 5rem;
    display: grid;
    place-items: center;
}

.score-box {
    border: 8px solid white;
    border-radius: 4px;
    width: 20rem;
    height: 15rem;
    background-color: rgb(235, 186, 51);
}

.you {
    float: left;;
}

.them {
    float: right;
}

.score-you {
    float: left;
}

.score-them {
    float: right;
}
/* Score and scorebox */

.menu {
    text-align: center;
    padding: 2rem 4rem 4rem 2rem;
    box-sizing: border-box;
    height: 25rem;
}

#rock {
    left: 35rem;
    position: absolute;
    width: 120px;
    padding: 1rem 3rem 3rem 3rem;
}

#paper {
    left: 48.7rem;
    right: -10rem;
    position: absolute;
    width: 120px;
    padding: 1rem 3rem 3rem 3rem;
}

#scissors {
    right: 35rem;
    bottom: 2.4rem;
    position: absolute;
    width: 155px;
    padding: 1rem 3rem 3rem 3rem;
}

img:active{
    color: white;
}

footer {
    margin: auto;
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 100%;
}

.footer-para {
    display: inline;
}

.para-left {
    float: left;
    padding-left: 50px;
}

.para-right {
    float: right;
    padding-right: 50px;
}